.details{
    display: flex;
    margin: 10px;
    /* flex-direction: column; */
    padding: 20px 30px;
    justify-content: center;
box-shadow: 10px 1px 20px 10px;

}
.loading{
    color: aliceblue;
}

.details img{
    object-fit: cover;
    height: 350px;
    width: 200px;
    display: flex;
    justify-items: center;
    /* align-content: center; */
/* flex-direction: row; */
}
.close{
    font-size: 16px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    background: rgb(194, 194, 194);
    height: fit-content;
    padding: 8px;
    text-align: center;
    border-radius: 10%;
    cursor: pointer;
   width:100px ;
   justify-content: center;

}
.information{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.Title{
    font-size: 22px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin: 15px 0;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    /* flex-direction: column; */
    text-transform: capitalize;
    text-overflow: ellipsis;
  
}
.data{
    font-size: 16px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    overflow: hidden;
    margin: 4px 0;
    text-transform: capitalize;
    text-overflow: ellipsis;
    /* display: flex; */
/* flex-wrap: nowrap; */
    gap: 20px;
  
   /*  */
}
.information span{
    color: rgb(194, 194, 194);
}
@media  screen and (max-width:525px) {
     .details {
       font-size: 10px;
       display: flex;
       flex-direction: column;
       /* text-align: center; */
       /* justify-content: center; */
       align-items: center;
    }
    
  }